
/***
Lock Page
***/
body {
  background-color: #465568;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #f3f3f3;
}

h2{
  margin: 90px auto 30px auto;
  width: 450px;
  text-align: center;
  margin-bottom: 15px;
}

.new_user {
  width: 100%;
  margin-top: 50px;
  background-color: #3a4554;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.field {
  display: block;
  background-color: #323d4b;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #4db3a5;
}

.actions {
  text-align: center;
  input {
    width: 220px;
    font-size: 22px;
    font-weight: 600;
    color: #faf8f8;
    border: none;
    background-color: #e76070 !important;
  }
}

a {
  font-size: 14px;
  font-weight: 400;
  color: #638cac;
  text-align: center;
}

.account-page__inner--left.account-page__header {
  a {
    color: #858688;
    font-size: 14px;
  }
}
